{% extends "layout.html" %}

{% block title %}
    Aerospace
{% endblock %}

{% block main %}

<div class="engineeringborder">

    <div class="engprofile">
        <h1>Aerospace Engineering</h1>
    </div>

    <div class = "engineering_explore_texts">
        Aerospace engineering is the process of designing, creating, building, and manufacturing anything that flies. Jets, helicopters, and even spaceships are all part of this field.

        The two main branches of aerospace engineering are aeronautical and astronautical engineering. The former deals with any aircraft that flies within the earth's atmosphere and the latter deals with anything that flies outside of the atmosphere.
    </div>

    <div>
            <div class = "aerotextheader">What do Aerospace Engineers do?</div>
            <div class = textblock1>
            Aeronautical engineers build an aircraft that can fly within the earth's atmosphere including:
            </div>
        <ul>
            <li>Military flying technology</li>
            <li>Commercial and passenger jets</li>
            <li>Helicopters</li>
            <li>Drones</li>
        </ul>
        
    </div>

    <div>
        <div class = "aerotextheader">What kind of jobs are there in Aerospace Engineering?</div>
        <div class = "textblock1">
        </div>
        <ul>
            <li>Systems engineer</li>
            <li>Launch Engineer</li>
            <li>Payload Engineer</li>
            <li>Aerodynamicist</li>
            <li>Mechanical Engineer</li>
            <li>Operations</li>
            <li>Antenna Engineer</li>
            <li>Etc.</li>

        </ul>
    

    <div>
        <div class = "aerotextheader">Brief history of Aviation</div>
        <div>
        The first humans took flight in the 1780s with the invention of the hot air balloon. Since that moment in time, a slew of inventors attempted to create a propulsion system for hot air balloons, and scientists and inventors began to study gliders which helped them learn about aerodynamics.
        In 1903, the Wright brothers had their first famed flight, and everything went up from there. At first, aircraft were used primarily for military purposes in World War I, but after the innovation in the field of aerospace engineering, the commercial air travel industry exploded.
        </div>
    </div>

    <div>
        <h class = "textblock1">Sir George Cayley</h>
        <div>
        This was the time when people were getting up into the air on a more regular basis; some started to get curious about the mechanics of flight. Sir George Cayley was one of the first scientists to seriously study aerodynamics.

        He is the originator of the terms "lift" and "drag" which are now basic concepts in the field. He built gliders, unmanned, and manned air vessels based on his experimental ideas.
        </div>
    </div>
    <div class="aerotextheader">What companies are currently leading the aerospace industry?</div>
        <div>
            <ul>
                <li>
                    Boeing -  Many commercial jets bear the Boeing name, and it is considered to be the largest aerospace company by some metrics. With over $86 billion of revenue each year, they have a hand in almost every avenue of aerospace including commercial, defense and space travel.
                </li>

                <li>
                    Airbus - The second largest aerospace company based on the metric of revenue. They are known for their giant Airbus 380 model, capable of taking over 800 passengers on a single flight if a single class layout is used. Airbus has offices on every continent, except Antarctica of course!
                </li>
                <li>
                    Lockheed Martin - another aerospace company well known for their focus on defense. They specialize in emergency aircraft, military aerospace projects, and space exploration. Their claim to fame is that they have built "more interplanetary spacecraft than all other US companies combined," and they have built many of the spacecraft used on important NASA missions.
                </li>
                <li>
                    Rolls Royce - They have been working on new airplane engines that could reduce carbon emissions and noise pollution around airports.
                </li>
            </ul>
        </div>
    </div>
    
    <div class = "aerotextheader">What sort of modules do you study in an aerospace university course?</div>
    <div class = "textblock1">
        Amongst the basics like maths and physics there is also the study of:
    </div>
    
    <ul>
            <li>Properties of materials</li>
            <li>Introduction to aerodynamics</li>
            <li>Circuits, signals and systems</li>
            <li>Mechanics of flight</li>
            <li>Propulsion and turbomachinery</li>
            <li>Thermodynamics</li>
            <li>Control Systems</li>
            <li>Etc.</li>

        </ul>
<div class="aerotextheader">What to do next!</div>
    <div class = "furtherinformation">
        To read more about this topic or to learn the basics of aerospace concepts click <a href = "https://basicversity.com/study/aerospace-engineering">HERE!!</a>
    </div>

    <div class= "TestTime">Browsed all the content then head over to the quizzes page to take the test</div>



{% endblock %}