{% extends "layout.html" %}

{% block title %}
    Bio
{% endblock %}

{% block main %}

<div class="engineeringborder">

    <div class="engprofile">
        <h1>Bio Engineering</h1>
    </div>

    <div class = "engineering_explore_texts">
        Bioengineering is a relatively new discipline that combines many aspects of traditional engineering fields such as chemical, electrical and mechanical engineering. Examples of bioengineering include: artificial hips, knees and other joints. ultrasound, MRI and other medical imaging techniques
    </div>

    <div>
            <div class = "biotextheader">What do BioMedical Engineers do?</div>
            <div class = textblock1>
            Biomedical engineers typically do the following:
            </div>
        <ul>
            <li>Design biomedical equipment and devices e.g. Artificial organs</li>
            <li>Replacements for body parts</li>
            <li>Design machines for diagnosing medical problems</li>
        </ul>
        Overall their prupose if to install, adjust, maintain, repair, or provide technical support for biomedical equipment.
        
    </div>

    <div>
        <div class = "biotextheader">What kind of jobs are there in BioMed Engineering?</div>
        <div class = "textblock1">
            <div>Jobs in BioMed are much more focused as it is a new field of engineering, some example include:</div>
        </div>
        <ul>
            <li>Analytical chemist</li>
            <li>Biomedical scientist</li>
            <li>Biotechnologist</li>
            <li>Forensic scientist</li>
            <li>Laboratory Techinician</li>
            <li>Senior Medical Writer</li>
            <li>Etc.</li>

        </ul>
    

    <div>
        <div class = "biotextheader">Brief history of BioMed Engineering</div>
        
        The practice of biomedical engineering has a long history. One of the earliest examples is a wood and leather prosthetic toe found on a 3,000-year-old Egyptian mummy. Before that, even simple crutches and walking sticks were a form of engineered assistive devices, and the first person to fashion a splint for a broken bone could be considered to have been an early biomedical engineer.
        
        <div>As technology progressed so did the field of Biomedical engineering:</div>
        The works of Alexander Graham Bell and Thomas Edison on sound transmission and amplification in the late 19th and early 20th centuries were applied to make the first tabletop hearing aids.

       <div class = "textblock1">Major notable acheivements come from:
       </div>
       <ul>
            <li>Forrest Bird          (mechanical ventilator)</li>
            <li>John Charnley         (artificial hip replacement)</li>
            <li>Robert Jarvik         (artificial heart)</li>
            <li>Willem Johan Kolff    (kidney dialysis)</li>
            <li>Rene Laënnec          (stethoscope)</li>
            <li>Wilhelm Roentgen      (X-rays)</li>
            <li>Etc.</li>
        </ul>
       </div>
       

    <div class="biotextheader">What companies are currently leading the biomedical industry?</div>

        <div>
            <ul>
                <li>
                    Novo Nordisk - multinational biotech company headquartered in Denmark with production facilities in seven countries and affiliates or offices in 80 countries. The company's primary focus is diabetes care, hemophilia care, growth hormone therapy, and hormone replacement therapy.
                </li>
                <li>
                    Regeneron - This Boppharmacutical develops and markets drug treatments for patients with eye disease, cancer, cardiovascular diseases, allergic and inflammatory issues, and infectious diseases.
                </li>
                <li>
                    Johnson & Johnson - Currntley the largest biotech comapny that develops medical devices, pharmaceutical, and consumer packaged goods
                </li>
            </ul>
        </div>
</div>

    <div class ="biotextheader">What sort of modules do you study in an BioMed university course?</div>
    <div class = "textblock1">
        Amongst the basics like biology and chemistry there is also the study of:
    </div>

    <ul>
            <li>Biochemistry</li>
            <li>Cell Biology & Neuroscience</li>
            <li>Fundamentals of Physiology & Anatomy</li>
            <li>Fundamentals of Pharmacology</li>
            <li>Skills for the Biosciences</li>
            <li>Chemistry for the Biosciences</li>
            <li>Etc.</li>

        </ul>
<div class="biotextheader">What to do next!</div>
<div class = "furtherinformation">
    To read more about some cool facts on biomed click <a href = "https://www.ibms.org/resources/documents/biomedical-science-facts/">HERE!!</a>
</div>
<div class = "furtherinformation">
    Want to do more in depth reading click <a href = "https://www.britannica.com/science/biology">HERE!!</a>
</div>
<div class= "TestTime">Browsed all the content then head over to the quizzes page to take the test</div>
{% endblock %}