{% extends "layout.html" %}

{% block title %}
    Chemical
{% endblock %}

{% block main %}

<div class="engineeringborder">

    <div class="engprofile">
        <h1>Chemical Engineering</h1>
    </div>

    <div class = "engineering_explore_texts">
         Chemical Engineering deals with the study of design and operation of chemical plants and methods of improving production. Chemical engineers develop economical commercial processes to convert raw material into useful products.
    </div>

    <div>
            <div class = "chemtextheader">What do Chemical Engineers do?</div>
            <div class = textblock1>
            Chemical engineers typically do the following:
            </div>
        <ul>
            <li>Conduct research to develop new and improved manufacturing processes</li>
            <li>Design and plan the layout of equipment</li>
            <li>Work in the production of energy, electronics, food, clothing, and paper</li>
            <li>Conduct research in the life sciences, biotechnology, and business services</li>
        </ul>

    </div>

    <div>
        <div class = "chemtextheader">What kind of jobs are there in Chemical Engineering?</div>
        <div class = "textblock1">
            Jobs in Chemical Engineering range extensively as a result only a few are listed below:
        </div>
        <ul>
            <li>Process Engineer - Specialised in looking at processes</li>
            <li>Analytical chemist</li>
            <li>Manufacturing engineer</li>
            <li>Quality manager</li>
            <li>Waste management officer - including nuclear waste</li>
            <li>Mining engineer</li>
            <li>Etc.</li>
        </ul>


    <div>
        <div class = "chemtextheader">Brief history of Chemical Engineering</div>
        <div>
            History. Chemical engineering is as old as the process industries. Its heritage dates from the fermentation and evaporation processes operated by early civilizations. Modern chemical engineering emerged with the development of large-scale, chemical-manufacturing operations in the second half of the 19th century.
        <div>As technology expanded so did the demand for chemical processes</div>
        <div class = "chemtextheader">The father of chemical engineering:</div>
        <div class="textblock1">George E. Davis</div>
        Davis in the form of twelve lectures covering various aspects of industrial chemical practice. As a consequence George E. Davis is regarded as the world's first chemical engineer
       <div>Major notable acheivements come from:</div>
       <ul>
            <li></li>
            <li>Joseph Priestley (discoverer of oxygen)</li>
            <li>Alfred Nobel         (dynamite)</li>
            <li>Dmitri Mendeleev    (the periodic table)</li>
            <li>Dorothy Hodgkin         (X-ray Crystallography)</li>
            <li>Etc.</li>
        </ul>
       </div>
    </div>

    <div class="chemtextheader">What companies are currently leading the Chemical industry?</div>

        <div>
            <ul>
                <li>
                    BASF - The current largest company - a german multinational cooropration responsible from chemicals, plastics, performance products and crop protection products to oil and gas.
                </li>
                <li>
                    Sinopec - Chinas 2.2 trillion dollar Petroleum & Chemical Corporation based in Beijing responsible for the production, refining and transportation of crude oil and natural gas.
                </li>
                <li>
                    Saudi Basic Industries Corporation -  known as SABIC, is a Saudi Arabian multinational chemical manufacturing company. It is active in petrochemicals, chemicals, industrial polymers, fertilizers, and metals.
                </li>
            </ul>
        </div>
    </div>

        <div class ="chemtextheader">What sort of modules do you study in an Chemical Engineering university course?</div>
    <div CLASS = "textblock1">
        Amongst the basics like chemistry there is also the study of:
    </div>

    <ul>
            <li>Separation processes</li>
            <li>Thermodynamics</li>
            <li>Heat, mass, and momentum</li>
            <li>Fluid mechanics</li>
            <li>Industrial chemistry</li>
            <li>Environmental Management</li>
            <li>Etc.</li>

        </ul>

<div class="chemtextheader">What to do next!</div>
<div class = "furtherinformation">
    To read more about some cool facts on Chemical Engineering click <a href = "https://jobs.telegraph.co.uk/article/chemical-engineering-facts-to-know/">HERE!!</a>
</div>
<div class = "furtherinformation">
    Want to find out current focuses click <a href = "https://www.google.com/search?rlz=1C1CHBF_en-GBGB894GB894&biw=1707&bih=803&tbm=nws&sxsrf=ALeKk01FM-ohyLDD_XcFeGZKxc1Lxdea9Q%3A1608391927560&ei=9xzeX87eIeKAhbIPxp25iAY&q=chemical+engineering+&oq=chemical+engineering+&gs_l=psy-ab.3..0l2.7697.7697.0.9400.1.1.0.0.0.0.68.68.1.1.0....0...1c.1.64.psy-ab..0.1.68....0.l5tcC6tYMRQ">HERE!!</a>
</div>
<div class= "TestTime">Browsed all the content then head over to the quizzes page to take the test</div>
{% endblock %}