{% extends "layout.html" %}

{% block title %}
    Civil
{% endblock %}

{% block main %}

<div class="engineeringborder">

    <div class="engprofile">
        <h1>Civil Engineering</h1>
    </div>

    <div class = "engineering_explore_texts">
        Civil engineering invovles the designing and manufacturing of large scaled building and design projects as well as systems.
    </div>

    <div>
            <div class = "civiltextheader">What do Civil Engineers do?</div>
            <div class = textblock1>
            Chemical engineers typically do the following:
            </div>
        <ul>
            <li>Manage budgets and project resources</li>
            <li>Design and plan the layout of equipment</li>
            <li>Liaise with clients and a variety of professionals including architects and subcontractors</li>
            <li>assessing the sustainability and environmental impact of projects</li>
            <li>Resolving design and development problems</li>
        </ul>

        <div>On the whole Civil engineers conceive, design, build, supervise, operate, construct and maintain infrastructure projects and systems in the public and private sector</div>
    </div>

    <div>
        <div class = "civiltextheader">What kind of jobs are there in Civil Engineering?</div>
        <div class = "textblock1">
            <div>Jobs in Civil Engineering vary depenging on the type of project you are working on:</div>
         </div>

        <ul>
            <li>Building control surveyor</li>
            <li>CAD technicican</li>
            <li>Consulting civil engineer</li>
            <li>Safety engineer</li>
            <li>Design engineer</li>
            <li>Estimator</li>
            <li>Etc.</li>
        </ul>

    <div>
        <div class = "civiltextheader">What major project have civil engineers contributed to?</div>
        <div class = "textblock1">
            History vs Today
         </div>
            Civil engineering is the oldest types of engineering. Its heritage dates from the first construction of houses operated by early civilizations. Mordern civil engineering has a range of extensive projects some of the largest and most famous being:
       <ul>
            <li>Jubail II, Saudi Arabia - Installation of a desalination plant</li>
            <li>Al Maktoum International Airport, Dubai - This airport construction range over 21 miles </li>
            <li>International Space Station, Space - The construction and designing of the ISS costed more than $60 billion</li>
            <li>London Crossrail Project - 26 miles of tunnelling is needed for this project</li>
            <li>Great Man-Made River Project, Libya - Exactly how it sounds, 350000 acres ofland to mitigate water across Libya</li>
            <li>Etc.</li>
        </ul>

    </div>

    <div class="civiltextheader">What companies are currently leading the Civil industry?</div>

        <div>
            <ul>
                <li>
                    Arup - British multinational professional services firm headquartered in London which provides engineering, architecture, design, planning, project management and consulting services
                </li>
                <li>
                    Mott MacDonald - British-based group of businesses with a worldwide reach across a range of sectors, centred on management, engineering and development
                </li>
                <li>
                    AECOM -  In addition to generating some of the most impressive and livable public spaces in the world and delivering clean water and energy it is known as one of the largest design firms
                </li>
                <li>
                    There are multiple more: Bethcel, ACS, China State Construction Engineering Corp etc...
                </li>
            </ul>
        </div>
    </div>

        <div class ="civiltextheader">What sort of modules do you study in a Civil Engineering university course?</div>
    <div class ="textblock1">
        Amongst the basics like mathematics and design there is also the study of:
    </div>

    <ul>
            <li>Structural mechanics</li>
            <li>Materials</li>
            <li>Civil and architectural engineering</li>
            <li>Geomechanics</li>
            <li>Minerals and statics</li>
            <li>CAD designing and technical drawing</li>
            <li>Etc.</li>

        </ul>

<div class="civiltextheader">What to do next!</div>
<div class = "furtherinformation">
    To read more about some cool facts on Civil Engineering click <a href = "https://interestingengineering.com/15-things-only-civil-engineers-know">HERE!!</a>
</div>
<div class = "furtherinformation">
    Want to find out current and future focuses click <a href = "https://interestingengineering.com/11-civil-engineering-projects-that-might-define-the-future">HERE!!</a>
</div>
<div class= "TestTime">Browsed all the content then head over to the quizzes page to take the test</div>
{% endblock %}