{% extends "layout.html" %}

{% block title %}
    Electrical
{% endblock %}

{% block main %}

<div class="engineeringborder">

    <div class="engprofile">
        <h1>Electrical Engineering</h1>
    </div>

    <div class = "engineering_explore_texts">
        Electrical engineering is an engineering discipline concerned with the study, design and application of equipment, devices and systems which use electricity, electronics, and electromagnetism
    </div>

    <div>
            <div class = "electricaltextheader">What do Elecrtical Engineers do?</div>
            <div class = textblock1>
            Electrical engineers typically do the following:
            </div>
        <ul>
            <li>Work with large-scale electrical systems</li>
            <li>Preparing project specifications</li>
            <li>The role can also involve extensive travel and site visits to attend meetings and inspections</li>
            <li>Lighting within buildings, to power stations and satellite communications</li>
            <li>Resolving electrial and system problems</li>
        </ul>
        
    </div>

    <div>
        <div class = "electricaltextheader">What kind of jobs are there in Electrical Engineering?</div>
        <div class = "textblock1">
            <div>Jobs in Electrical Engineering vary depenging on the type of project you are working on:</div>
            </div>
        <ul>
            <li>Acoustic consultant</li>
            <li>CAD technicican</li>
            <li>Machine Learning Technician</li>
            <li>Safety engineer</li>
            <li>Elecrtonics engineer</li>
            <li>Control and instrumentation engineer</li>
            <li>Etc.</li>
        </ul>
    

    <div>
        <div class = "electricaltextheader">Recent breakthoughs in electrical engineering:</div>
        <div class = "textblock3">
            History vs Today
        </div>
            Said to have emerged as a discipline in 1864 when the Scottish physicist James Clerk Maxwell summarized the basic laws of electricity in mathematical form and showed that radiation of electromagnetic energy travels through space at the speed of light.
            <div>Todays recent contributions include:</div>
       <ul>
            <li>High Efficiency Photovoltaic Cells</li>
            <li>Vritual Reality Technology</li>
            <li>Green Energy Electrical Power Converter</li>
            <li>Wireless Wearable Tech</li>
            <li>Eye Tracking Tecnology</li>
            <li>Smart Electrical Grids</li>
            <li>Etc.</li>
        </ul>
       
    </div>

    <div class="electricaltextheader">Electrical engineering is very broad so different comapnies are leading in diffferent sectors:</div>

        <div>
            <ul>
                <li>
                    Apple - American Multinational coorpotation which develops and sells consumer electronics, computer software, and online services
                </li>
                <li>
                    The Boeing Company - Makes aircraft but also leads the satellites and telecommunications divisions
                </li>
                <li>
                    IBM - Prior to the announced split, IBM produced and sold computer hardware, middleware and software, and provided hosting and consulting services in areas ranging from mainframe computers to nanotechnology.
                </li>
                <li>
                    There are multiple more: Google, Dell, Microsoft etc...
                </li>
            </ul>
        </div>
    </div>

        <div class ="electricaltextheader">What sort of modules do you study in an Electrical Engineering university course?</div>
    <div class = "textblock1">
        Amongst the basics like mathematics and computer science there is also the study of:
    </div>

    <ul>
            <li>Signal and Systems</li>
            <li>Electromagnetism</li>
            <li>Circuits and Systems</li>
            <li>Power Electronics and Power Systems</li>
            <li>Communications</li>
            <li>Control Systems</li>
            <li>Etc.</li>

        </ul>

<div class="electricaltextheader">What to do next!</div>
<div class = "furtherinformation">
    To read more about some cool facts on Electrical Engineering click <a href = "https://www.britannica.com/technology/electrical-and-electronics-engineering">HERE!!</a>
</div>
<div class = "furtherinformation">
    Want to find out the basics of electronics click <a href = "https://www.khanacademy.org/science/electrical-engineering/introduction-to-ee">HERE!!</a>
</div>
<div class= "TestTime">Browsed all the content then head over to the quizzes page to take the test</div>
{% endblock %}