{% extends "layout.html" %}

{% block title %}
    Mechanical
{% endblock %}

{% block main %}

<div class="engineeringborder">

    <div class="engprofile">
        <h1>Mechanical Engineering</h1>
    </div>

    <div class = "engineering_explore_texts">
        Mechanical Engineering is the discipline that applies the principles of engineering into the design, analysis, manufacturing, and maintenance of machines
    </div>

    <div>
            <div class = "mechtextheader">What do Mechanical Engineers do?</div>
            <div class = textblock1>
            Mechanical engineers typically do the following:
            </div>
        <ul>
            <li>Manage budgets and project resources</li>
            <li>Design and plan the layout of equipment</li>
            <li>Repair and design new machines in line with client requirements</li>
            <li>Assess the performance of machines</li>
            <li>Resolving manufacturing and development problems</li>
        </ul>

        <div>On the whole MechEng is the branch of engineering education that's been around for the longest period of time.</div>
    </div>

    <div>
        <div class = "mechtextheader">What kind of jobs are there in mechanical Engineering?</div>
        <div class = "textblock1">
            <div>Jobs in Mechanical Engineering vary depenging on the type of project you are working on:</div>
        </div>
        <ul>
            <li>Automotive engineer</li>
            <li>CAD technicican</li>
            <li>Consulting civil engineer</li>
            <li>Safety engineer</li>
            <li>Design engineer</li>
            <li>Maintainance engineer</li>
            <li>Etc.</li>
        </ul>


    <div>
        <div class = "mechtextheader">History of Mechanical Engineering</div>
        <div class = "textblock1">
            Mechanical engineering emerged as a field during the Industrial Revolution in Europe in the 18th century; however, its development can be traced back several thousand years around the world. In the 19th century, developments in physics led to the development of mechanical engineering science.
       </div>
       <div>Some of the most famous contributions are:</div>
       <ul>
            <li>George Stephenson - A British inventor in the 1800s who created the first public inter-city railway system and is known as the “father of railways” for his contributions to the railway system. He invented the first locomotive</li>
            <li>Aurel Stdola - This Slovak engineer originated the study of thermodynamics and first to invent the heat pump</li>
            <li>Ludwig Prandtl - This German engineer formulated the mathematics behind aerodynamics, which later became aeronautical engineering. He developed the mathematical basis for subsonic aerodynamics</li>
            <li>Etc.</li>
        </ul>

    </div>

    <div class="mechtextheader">Cool facts about the Mechnanical industry</div>

        <div>
            <ul>
                <li>
                    As a Mechanical Engineer you can work in a an office using tiny measuring instruments to enormous air craft hangers and power plants using giant machines.
                </li>
                <li>
                   As always with an Engineering job, there is the money, an average income for Mechanical Engineers in 2007 was $75,130.
                </li>
                <li>
                    The cruise control was invented by a blind mechanical engineer, Ralph Teetor.
                </li>
                <li>
                    There are multiple more: so be sure to check them out <a href ="https://www.reliableplant.com/Read/17159/30-fun-facts-about-engineering,-science-technology">HERE!!!</a> (Or anywhere else online)
                </li>
            </ul>
        </div>
    </div>

        <div class ="mechtextheader">What sort of modules do you study in a Mechanical Engineering university course?</div>
    <div class="textblock1">
        Amongst the basics like mathematics and physics there is also the study of:
    </div>

    <ul>
            <li>Structural mechanics</li>
            <li>Thermodynamics</li>
            <li>Kinematics and Dynamics</li>
            <li>Mechanics</li>
            <li>Electricity</li>
            <li>Basics of Coding</li>
            <li>Etc.</li>

        </ul>

<div class="mechtextheader">What to do next!</div>
<div class = "furtherinformation">
    To read about breakthroughs in the mechanical field click <a href = "https://oxfordsummercourses.com/articles/5-trends-in-mechanical-engineering-for-2020/">HERE!!</a>
</div>
<div class = "furtherinformation">
    Want to find out more about the long history of mechanical engineering click <a href = "https://www.imeche.org/about-us/imeche-engineering-history/mechanical-engineering-history-timeline">HERE!!</a>
</div>
<div class= "TestTime">Browsed all the content then head over to the quizzes page to take the test</div>
{% endblock %}