{% extends "layout.html" %}

{% block title %}
    Nuclear
{% endblock %}

{% block main %}

<div class="engineeringborder">

    <div class="engprofile">
        <h1>Nuclear Engineering</h1>
    </div>

    <div class = "engineering_explore_texts">
        Nulcear Engineering is concerned with the application of breaking down atomic nuclei (fission) or of combining atomic nuclei (fusion), or with the application of other sub-atomic processes
    </div>

    <div>
            <div class = "nucleartextheader">What do Nuclear Engineers do?</div>
            <div class = textblock1>
            Nuclear engineers typically do the following:
            </div>
        <ul>
            <li>Design or develop nuclear equipment, such as reactor cores</li>
            <li>Monitor nuclear facility operations to identify any design, construction, or operation practices that violate safety regulations and laws </li>
            <li>Examine accidents to obtain data that can be used to design preventive measures</li>
            <li>Write operational instructions to be used </li>
            <li>Recommend preventive measures to be taken in the handling of nuclear technology</li>
        </ul>

        <div>On the whole NuclearEng is the branch of engineering that heavily focuses on saftey and precautionary measures.</div>
    </div>

    <div>
        <div class = "nucleartextheader">What kind of jobs are there in Nuclear Engineering?</div>
        <div class = "textblock1">
            <div>Jobs in Nuclear Engineering vary depenging on the type of project you are working on:</div>
        </div>
        <ul>
            <li>Health and safety specialist</li>
            <li>Reactor operator</li>
            <li>Project manager</li>
            <li>Process engineer</li>
            <li>Instrumentation and control engineer</li>
            <li>Maintainance engineer</li>
            <li>Etc.</li>
        </ul>


    <div>
        <div class = "nucleartextheader">History of Nuclear Engineering</div>
        <div class = "textblock1">
            Nuclear engineering was born in the 20th century with the announcement in 1939 of the discovery of nuclear fission by the German chemists Otto Hahn and Fritz Strassmann. It was almost immediately realized that a weapon of enormous explosive energy might be possible by employing fission.
       </div>
       <div> Some of the benchmarks in history include:</div>
       <ul>
            <li>World War II the race to be the first to build this weapon led to the creation of the Manhattan Project in the United States</li>
            <li>Italian physicist Enrico Fermi, was the building of the first nuclear reactor in 1942 at the University of Chicago. Named Chicago Pile No. 1 (CP-1)</li>
            <li>In 1954, with the commissioning of USS Nautilus, nuclear power became available - led to the development of nulcear submarines</li>
            <li>Rapid development of commercial nuclear power plants in the 1960s and ’70s, and this development in turn increased the demand for graduates with training in nuclear engineering</li>
            <li>Etc.</li>
        </ul>

    </div>

    <div class="nucleartextheader">Some cool facts about the Nuclear industry?</div>

        <div>
            <ul>
                <li>
                    The largest nuclear electricity producers are the United States with 809,359 GWh of nuclear electricity in 2019, this is followed by france with 300,000 Gwh of power 
                </li>
                <li>
                    Nuclear power currently provides about 11% of the world's electricity, with 12 countries using nuclear power for at least 30% of their national electricity generation
                </li>
                <li>
                    Tokyo Electric Power Co.'s (TEPCO) Kashiwazaki-Kariwa plant in Japan is currently the world's largest nuclear power plant, with a net capacity of 7,965MW.
                </li>
                <li>
                    Tsar Bomba, (Russian: “King of Bombs”) detonated in 1961. The largest nuclear weapon ever set off, it produced the most powerful human-made explosion ever recorded.
                </li>
            </ul>
        </div>
    </div>

        <div class ="nucleartextheader">What sort of modules do you study in a Nuclear Engineering university course?</div>
    <div class = "textblock1">
        Amongst the basics like mathematics and chemistry there is also the study of:
    </div>

    <ul>
            <li>Irradiation Materials Science</li>
            <li>Particle Detectors and Electronics</li>
            <li>Radiation Transport and Reactor Kinetics</li>
            <li>Reactor Safety and Analysis</li>
            <li>Nuclear Fuel Cycles</li>
            <li>Life Extension and Nuclear Waste</li>
            <li>Etc.</li>

        </ul>

<div class="nucleartextheader">What to do next!</div>
<div class = "furtherinformation">
    To read more about Nuclear Engineering click <a href = "https://www.britannica.com/technology/nuclear-engineering">HERE!!</a>
</div>
<div class = "furtherinformation">
    Want to find out some cool facts click <a href = "https://www.energy.gov/ne/articles/5-fast-facts-about-nuclear-energy">HERE!!</a>
</div>
<div class= "TestTime">Browsed all the content then head over to the quizzes page to take the test</div>
{% endblock %}