{% extends "layout.html" %}

{% block title %}
    Software
{% endblock %}

{% block main %}

<div class="engineeringborder">

    <div class="engprofile">
        <h1>Software Engineering</h1>
    </div>

    <div class = "engineering_explore_texts">
        Science which includes the development and building of computer systems software and applications software.
    </div>

    <div>
            <div class = "softwaretextheader">What do Software Engineers do?</div>
            <div class = textblock1>
            Software engineers typically do the following:
            </div>
        <ul>
            <li>Develop or direct software system testing or validation procedures</li>
            <li>Direct software programming and development of documentation</li>
            <li>Analyze information to determine, recommend, and plan installation of a new system</li>
            <li>Consult with engineering staff to evaluate interface between hardware and software</li>
            <li>Monitor functioning of equipment to ensure system operates</li>
        </ul>
    </div>

    <div>
        <div class = "softwaretextheader">What kind of jobs are there in Software Engineering?</div>
        <div class = "textblock1">
            <div>Jobs in Software Engineering vary depenging on the type of project you are working on:</div>
        </div>
        <ul>
            <li>Applications developer</li>
            <li>Cyber security analyst</li>
            <li>Game developer</li>
            <li>Information systems manager</li>
            <li>Web designer or developer (a bit like the person who made this website)</li>
            <li>Multimedia programmer</li>
            <li>Etc.</li>
        </ul>


    <div>
        <div class = "softwaretextheader">Software engineering development over history</div>
        <div class = "textblock1">
            Software engineering is probably the fastest growing engineering type some the first history bechmarks only go 50 years back!
        </div>
       <ul>
            <li>Back in 1946, J. Presper Eckert Finished the first computer. When it was done, it weighed almost 50 tons and programmers didn't interact directly with computing devices.</li>
            <li>In 1957, the first widely used programming language was released (Fortran) </li>
            <li>In early 1971, Nutting Associates released the first video game known as "Computer Space".</li>
            <li>In March of 1973, Xerox released the first desktop computer named the Xerox ALTO.</li>
            <li>In January of 1983, Robert Kahn and Vint Cerf created a system known as ARPANET which was basically a "Network of Networks" or internet</li>
            <li>Tim Berners-Lee, a British Scientist from CERN, invented the World Wide Web.</li>
            <li>In May of 1995, Brendan Eich created JavaScript</li>
            <li>Invention of supercomputers, smartphones, etc...</li>
        </ul>

    </div>

    <div class="softwaretextheader">What companies are currently leading the Software industry?</div>

        <div>
            <ul>
                <li>
                    Microsoft Microsoft Corporation founded by Bill Gates and Paul Allen in 1975, Microsoft is one of the largest IT Company in the world worth $790 billion
                </li>
                <li>
                    Oracle Corporation is an American multinational computer technology corporation headquartered in Austin, Texas.
                </li>
                <li>
                    Google LLC is an American multinational technology company that specializes in Internet-related services and products.
                </li>
                <li>
                    There are multiple more: Dell, IBM, SAP, etc...
                </li>
            </ul>
        </div>
    </div>

        <div class ="softwaretextheader">What sort of modules do you study in a Software Engineering university course?</div>
    <div class = "textblock1">
        Amongst the basics like computer science there is also the study of:
    </div>

    <ul>
            <li>Computer Programming</li>
            <li>Fundamentals of Hardwares</li>
            <li>Networking</li>
            <li>Computer Architecture</li>
            <li>Algorithms Development</li>
            <li>Computer Systems analysis</li>
            <li>Etc.</li>

        </ul>

<div class="softwaretextheader">What to do next!</div>
<div class = "furtherinformation">
    To read more about Software Engineering click <a href = "https://www.britannica.com/science/computer-science/Programming-languages#ref671789">HERE!!</a>
</div>

<div class= "TestTime">Browsed all the content then head over to the quizzes page to take the test</div>
{% endblock %}