{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="registration">
            <img src="/static/images/blank_profile_picture.jpg" class="picture">
            <form class="input-group">
            <input type="text" style="text-align:center" autocomplete="off" class= "input-field" placeholder="Username" name="username">
            <input type="email" style="text-align:center" autocomplete="off" class= "input-field" placeholder="Email"  name="email" >
            <input type="password" id ="password" style="text-align:center" autocomplete="off" class= "input-field" placeholder="Password"  name="password">
            <input type="password" style="text-align:center" autocomplete="off" class= "input-field" placeholder="Re-Type Password"  name="confirmation">
            <button type="submit" class="submit-btn">Register</button>
        </div>
    </form>

{% endblock %}